<h1><%= @flat.name %></h1>
<ul>
<li>Address: <%= @flat.address %></li>
<li>Price per night: <%= @flat.price_per_night %></li>
<li>Number of Guests: <%= @flat.number_of_guests %></li>
<li>Description: <%= @flat.description %></li>
</ul>
